<footer class="footer mt-auto">
  <div class="container">
    <div class="row text-muted">
      <div class="col-6 text-left">
        <p class="mb-0">
          <a href="https://noortotah.com" class="text-muted" target="_blank"><strong>تم انجاز المشروع &copy;  ٢٠٢٠</strong></a>
        </p>
      </div>
      <div class="col-6 text-right">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a class="text-muted" [routerLink]="['/']">الدعم الفني</a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" [routerLink]="['/']">قسم المساعدة</a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" [routerLink]="['/']">الخصوصية</a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" [routerLink]="['/']">الشروط</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

