.login-header {
  background-image: linear-gradient(0deg, rgba(52, 52, 52, 0.9), rgba(52, 52, 52, 0.5)), url('../../../../../assets/images/landing-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
