.text-sm {
  font-size: $font-size-base;
}

.text-lg {
  font-size: $font-size-base;
}

b, strong {
	font-weight: $font-weight-bold;
}

pre.snippet {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

a {
  cursor: pointer;
}
