<div class="container">
  <div class="row">

    <div class="col-12">
      <div class="card mt-5">
        <div class="card-header">
          <h1 class="h1">رفاقنا المفقودين</h1>
          <h6 class="card-subtitle text-muted">قائمة بالمفقودين العرب</h6>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th style="width:30%;">الاسم</th>
              <th style="width:15% text-center">الدولة</th>
              <th class="d-none d-md-table-cell text-center" style="width:25%">مختفي منذ</th>
              <th class="text-center">اجراءات</th>
            </tr>
          </thead>
          <tbody>
            <tr
                *ngFor="let person of kidnappedList; let i = index"
                [ngClass]="{'table-secondary': (i%2)}"
                >
              <td>{{i+1}}</td>
              <td>
                <img src="../../../../../assets/images/avatars/avatar-5.jpg" width="48" height="48" class="rounded-circle mr-2" alt="Avatar">
                &nbsp;  &nbsp;  {{person.name}} </td>
              <td class="text-center">{{ displayPersonCountry(person.country) }}</td>
              <td class="d-none d-md-table-cell text-center">{{person.kidnap_date }} </td>
              <td class="table-action text-center">
                <a href="#" class="invisible"><i class="align-middle" data-feather="edit-2"></i></a>
                <a href="#" class="invisible"><i class="align-middle" data-feather="trash"></i></a>
                <a  class="btn btn-bg-dark text-light" [routerLink]="['/kidnapped', person.id]" >اذهب إلى التفاصيل</a>
              </td>
            </tr>


          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
